<!--第一次编写-->
{#<h1>list</h1>#}
{#{{ name }}#}

<!--第二次编写Page141-->
{#<ul>#}
{#{% for post in post_list %}#}
{#<li>#}
{#    <a href="/post/{{ post.id }}.html">{{ post.title }}</a>#}
{#    <div>#}
{#        <span>作者:{{ post.owner.username }}</span>#}
{#        <span>分类:{{ post.category.name }}</span>#}
{#    </div>#}
{#<p>{{ post.desc }}</p>#}
{#</li>#}
{#{% endfor %}#}
{#</ul>#}

<!--第二次编写P145-->
{#{% if tag %}#}
{#标签页:{{ tag.name }}#}
{#{% endif %}#}
{##}
{#{% if category %}#}
{#分类页:{{ category.name }}#}
{#{% endif %}#}
{##}
{#<ul>#}
{#{% for post in post_list %}#}
{#<li>#}
{#    <a href="/post/{{ post.id }}.html">{{ post.title }}</a>#}
{#    <div>#}
{#        <span>作者:{{ post.owner.username }}</span>#}
{#        <span>分类:{{ post.category.name }}</span>#}
{#    </div>#}
{#    <p>{{ post.desc }}</p>#}
{#</li>#}
{#{% endfor %}#}
{#</ul>#}

<!--第三次编写Page146-->
{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
{#    <meta charset="utf-8"/>#}
{#	<title>list博客系统</title>#}
{#</head>#}
{#<body>#}
{#<div>顶部分类:#}
{#    {% for cate in navs %}#}
{#    <a href="/category/{{ cate.id }}/">{{ cate.name }}</a>#}
{#    {% endfor %}#}
{#</div>#}
{#<hr/>#}
{#{% if tag %}#}
{#标签页:{{ tag.name }}#}
{#{% endif %}#}
{##}
{#{% if category %}#}
{#分类页:{{ category.name }}#}
{#{% endif %}#}
{##}
{#<ul>#}
{#{% for post in post_list %}#}
{#<li>#}
{#    <a href="/post/{{ post.id }}.html">{{ post.title }}</a>#}
{#    <div>#}
{#        <span>作者:{{ post.owner.username }}</span>#}
{#        <span>分类:{{ post.category.name }}</span>#}
{#    </div>#}
{#    <p>{{ post.desc }}</p>#}
{#</li>#}
{#{% endfor %}#}
{#</ul>#}
{#<hr/>#}
{#<div>底部分类:#}
{#    {% for cate in categories %}#}
{#    <a href="/category/{{ cate.id }}/">{{ cate.name }}</a>#}
{#    {% endfor %}#}
{#</div>#}
{#<div>侧边栏分类#}
{#    {% for sidebar in sidebars %}#}
<!--{#        <h4>{{ sidebar.title }}</h4>#}-->
{#        {{ sidebar.content_html }}#}
{#    {% endfor %}#}
{#</div>#}
{#</body>#}
{#</html>#}


<!--第四次编写Page154-->
{#{% extends "./base.html" %}#}
{##}
{#{% block title %}#}
{#    {% if tag %}#}
{#    标签页: {{ tag.name }}#}
{#    {% elif category %}#}
{#    分类页: {{ category.name }}#}
{#    {% endif %}#}
{#{% endblock %}#}
{##}
{#{% block main %}#}
{#    <ul>#}
{#        {% for post in post_list %}#}
{#        <li>#}
{#            <a href="{% url 'post-detail' post.id %}">{{ post.title }}</a><!--Page156新增内容-->#}
{#            <a href="/post/{{ post.id }}.html">{{ post.title }}</a>#}
{#            <div>#}
{#                <span>作者: {{ post.owner.username }}</span>#}
{#                <span>作者: {{ post.category.name }}</span>#}
{#            </div>#}
{#            <p>{{ post.desc }}</p>#}
{#        </li>#}
{#        {% endfor %}#}
{#    {% if page_obj %}#}
{##}
{#        {% if page_obj.has_previous %}#}
{#            <a href="?page={{ page_obj.previous_page_number }}">上一页</a>#}
{#            {% endif %}#}
{#        page {{ page_obj.number }} of {{ paginator.num_pages }}.{% if page_obj.has_next %}#}
{#        <a href="?page={{ page_obj.next_page_number }}">下一页</a>#}
{#        {% endif %}#}
{##}
{#    {% endif %}#}
{#    </ul>#}
{#{% endblock %}#}




{% extends "./base.html" %}

{% block title %}
    {% if tag %}
    标签页: {{ tag.name }}
    {% elif category %}
    分类页: {{ category.name }}
    {% else %}
    首页
    {% endif %}
{% endblock %}


{% block main %}
    <ul>
    {% for post in post_list %}
    <li>
        <a href="{% url 'post-detail' post.id %}">{{ post.title }}</a>
        <div>
            <span>作者:{{ post.owner.username }}</span>
            <span>分类:{{ post.category.name }}</span>
        </div>
        <p>{{ post.desc }}</p>
    </li>
    {% endfor %}
    </ul>
    {% if page_obj %}

    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">上一页</a>
        {% endif %}
        Page {{ page_obj.number }} of {{ paginator.num_pages }}.
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">下一页</a>
        {% endif %}

    {% endif %}

{% endblock %}